.footer {
    width: 100%;
    background: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 4px 0; /* Reducido para menor altura */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    font-size: 1rem;
    border-top: 1px solid #ccc;
}
